<div class="mx-auto" style="max-width: 1000px; max-height: 50px; margin-top: 200px;" >
    <!-- <div>
        
        <p><strong>  ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ</strong> 
    Αιτήσεις χορήγησης – ανανέωσης αδειών διαμονής, αιτήσεις θεραπείας κατά απορριπτικών αποφάσεων, αιτήσεις ακύρωσης κατά αποφάσεων της Διοίκησης και προσωρινής δικαστικής προστασίας, αντιρρήσεις κατά της κράτησης διοικητικά κρατουμένων. Το γραφείο μας εξειδικεύεται σε υποθέσεις σχετικές με άδειες διαμονής όλων των τύπων και κατηγοριών, το πρόγραμμα Golden Visa (Μόνιμη άδεια διαμονής επενδυτή) και Digital Nomad (Ψηφιακοί Νομάδες).
        </p>
        
    </div>

    <div>
        <p>  <strong> ΥΠΟΘΕΣΕΙΣ ΕΛΛΗΝΙΚΗΣ ΙΘΑΓΕΝΕΙΑΣ </strong>
            Αιτήσεις απόδοσης ιθαγένειας λόγω φοίτησης ή γέννησης και φοίτησης στην Ελλάδα, αιτήσεις πολιτογράφησης, αιτήσεις καθορισμού και διαπίστωσης ελληνικής ιθαγένειας, προσφυγές και αιτήσεις ακύρωσης κατά απορριπτικών αποφάσεων. Εξασφάλιση της πλήρωσης των κριτηρίων για τη θετική έκβαση των υποθέσεων που αφορούν την απόκτηση της ελληνικής ιθαγένειας.
        </p>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΔΙΚΑΙΟ ΑΛΛΟΔΑΠΩΝ</h5>
                    <p class="card-text">Αιτήσεις χορήγησης – ανανέωσης αδειών διαμονής, αιτήσεις θεραπείας κατά απορριπτικών αποφάσεων, αιτήσεις ακύρωσης κατά αποφάσεων της Διοίκησης και προσωρινής δικαστικής προστασίας, αντιρρήσεις κατά της κράτησης διοικητικά κρατουμένων. Το γραφείο μας εξειδικεύεται σε υποθέσεις σχετικές με άδειες διαμονής όλων των τύπων και κατηγοριών, το πρόγραμμα Golden Visa (Μόνιμη άδεια διαμονής επενδυτή) και Digital Nomad (Ψηφιακοί Νομάδες).</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="../../assets/pictures/ΙΘΑΓΕΝΕΙΑ.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ΥΠΟΘΕΣΕΙΣ ΕΛΛΗΝΙΚΗΣ ΙΘΑΓΕΝΕΙΑΣ</h5>
                    <p class="card-text">Αιτήσεις απόδοσης ιθαγένειας λόγω φοίτησης ή γέννησης και φοίτησης στην Ελλάδα, αιτήσεις πολιτογράφησης, αιτήσεις καθορισμού και διαπίστωσης ελληνικής ιθαγένειας, προσφυγές και αιτήσεις ακύρωσης κατά απορριπτικών αποφάσεων. Εξασφάλιση της πλήρωσης των κριτηρίων για τη θετική έκβαση των υποθέσεων που αφορούν την απόκτηση της ελληνικής ιθαγένειας.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>