<div class="mx-auto" style="max-width: 1000px; max-height: 50px; margin-top: 150px;" >


               
        <div>
                <img src="../../assets/pictures/ΤΟ ΓΡΑΦΕΙΟ ΜΑΣ.jpg" alt="">
            <p>    Το γραφείο μας ιδρύθηκε από τον δικηγόρο Πέτρο Καραχρήστου, σε νέες σύγχρονες εγκαταστάσεις στο κέντρο της Αθήνας. Με πολυετή εμπειρία σε υποθέσεις αλλοδαπών, ιθαγένειας, ακινήτων - Real estate, ποινικού και οικογενειακού δικαίου, το γραφείο μας ανταποκρίνεται σε κάθε ανάγκη των εντολέων μας με ακρίβεια και επαγγελματισμό.
            Η συνεργασία του γραφείου με εξειδικευμένους δικηγόρους σε βασικούς και επιμέρους τομείς της νομικής επιστήμης, συμβολαιογράφους, λογιστές και μηχανικούς, διασφαλίζει την ολοκληρωμένη κάλυψη κάθε ανάγκης των εντολέων μας. 
            Με βασική μας αρχή την αφοσίωση στα δικαιώματα και τα συμφέροντα των εντολέων μας και την παροχή των καλύτερων δυνατών υπηρεσιών, το δικηγορικό μας γραφείο έχει κερδίσει την πολυετή και σταθερή εμπιστοσύνη των ανθρώπων που απευθύνονται σε εμάς και αποτελεί την πλέον αξιόπιστη και αποτελεσματική λύση στα ζητήματα που σας απασχολούν.
            </p>  
        </div>  
            
          &nbsp; 
       <div>
        <img src="../../assets/pictures/ΠΕΤΡΟΣ ΚΑΡΑΧΡΗΣΤΟΥ.jpg" alt="" >
            <p><strong>   Πέτρος Κ. Καραχρήστου</strong> – Δικηγόρος Αθηνών 
            Ο Πέτρος Κ. Καραχρήστου είναι απόφοιτος της Νομικής Σχολής του Δημοκριτείου Πανεπιστημίου Θράκης. Από το 2014 απασχολείται εξειδικευμένα σε υποθέσεις του δικαίου αλλοδαπών και μετανάστευσης και έχει χειριστεί, μεταξύ άλλων, χιλιάδες υποθέσεις αδειών διαμονής και ιθαγένειας. Είναι μέλος της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης και της Ένωσης Ποινικολόγων και Μαχόμενων Δικηγόρων. Λόγω της εξειδίκευσης του στο αντικείμενο του Δικαίου Κατάστασης Αλλοδαπών, συμμετείχε ενεργά από το έτος 2015 ως μέλος στην Επιτροπή Μετανάστευσης και Ασύλου του Δικηγορικού Συλλόγου Αθηνών και κατόπιν, έως σήμερα, στην Επιτροπή Μετανάστευσης και Ιθαγένειας του ΔΣΑ. 
            Λαμβάνει μέρος σε επιστημονικά συνέδρια και ημερίδες ως σύνεδρος και ως εισηγητής. Συμμετείχε, ως εισηγητής, στην ημερίδα της παράταξης του ΔΣΑ, Σύγχρονη Δικηγορία, με θέμα «Επίκαιρα ζητήματα Mεταναστευτικού Δικαίου», όπου ανέλυσε το ζήτημα της άδειας διαμονής για εξαιρετικούς λόγους και στο 6ο Πανελλήνιο Συνέδριο της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης, με θέμα της εισήγησης του την Πολιτογράφηση. Έχει εκδώσει τον «Πρακτικό Οδηγό Ανανέωσης Αδειών Διαμονής», για χρήση από δικηγόρους και αρθρογραφεί σε ζητήματα μετανάστευσης και ιθαγένειας.
            </p>
        </div>    

        <!-- <div class="card" style="width: 30rem; background-color: transparent;" >
            <img class="card-img-top" src="../../assets/pictures/ΠΕΤΡΟΣ ΚΑΡΑΧΡΗΣΤΟΥ.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Πέτρος Καραχρήστου</h5>
              <p class="card-text">Ο Πέτρος Κ. Καραχρήστου είναι απόφοιτος της Νομικής Σχολής του Δημοκριτείου Πανεπιστημίου Θράκης. Από το 2014 απασχολείται εξειδικευμένα σε υποθέσεις του δικαίου αλλοδαπών και μετανάστευσης και έχει χειριστεί, μεταξύ άλλων, χιλιάδες υποθέσεις αδειών διαμονής και ιθαγένειας. Είναι μέλος της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης και της Ένωσης Ποινικολόγων και Μαχόμενων Δικηγόρων. Λόγω της εξειδίκευσης του στο αντικείμενο του Δικαίου Κατάστασης Αλλοδαπών, συμμετείχε ενεργά από το έτος 2015 ως μέλος στην Επιτροπή Μετανάστευσης και Ασύλου του Δικηγορικού Συλλόγου Αθηνών και κατόπιν, έως σήμερα, στην Επιτροπή Μετανάστευσης και Ιθαγένειας του ΔΣΑ. 
                Λαμβάνει μέρος σε επιστημονικά συνέδρια και ημερίδες ως σύνεδρος και ως εισηγητής. Συμμετείχε, ως εισηγητής, στην ημερίδα της παράταξης του ΔΣΑ, Σύγχρονη Δικηγορία, με θέμα «Επίκαιρα ζητήματα Mεταναστευτικού Δικαίου», όπου ανέλυσε το ζήτημα της άδειας διαμονής για εξαιρετικούς λόγους και στο 6ο Πανελλήνιο Συνέδριο της Ένωσης Δικαίου Αλλοδαπών και Μετανάστευσης, με θέμα της εισήγησης του την Πολιτογράφηση. Έχει εκδώσει τον «Πρακτικό Οδηγό Ανανέωσης Αδειών Διαμονής», για χρήση από δικηγόρους και αρθρογραφεί σε ζητήματα μετανάστευσης και ιθαγένειας.
                </p>
            </div>
          </div> -->
         
            &nbsp;
        
            <p><strong>    Συνεργαζόμενοι δικηγόροι</strong>
                    Δικηγορική Εταιρεία Κουντούρη – Πελτέκη και Συνεργάτες – Εξειδίκευση σε ζητήματα αστικού και εμπορικού δικαίου, ποινικού δικαίου, διαπιστευμένοι διαμεσολαβητές
            Γιάννης Μπαρκαγιάννης – Ποινικολόγος με ενεργή καθημερινή παρουσία σε σημαντικές δίκες 
            Μαργαρίτα Δακορώνια – Δικηγόρος με εμπειρία και σημαντικές επιτυχίες στον τομέα του οικογενειακού και του ευρύτερου αστικού δικαίου
            </p>    
        
        <div>    
            <p><strong>    Συνεργαζόμενοι συμβολαιογράφοι</strong>
            Κωνσταντίνος Θάνος – Συμβολαιογράφος Σαλαμίνας
            Αυγερινού Σέβη – Συμβολαιογράφος Αθηνών
            </p>    
        
        </div>
</div>


